   /*
   <h1>Random Background Color changer</h1>
        <p>Hex Code: </p>
      <button>Change Background Color</button>
      */

button{
  background-color: goldenrod;
  border-radius: 5px;
  padding: 10px;
  
}

*{
  text-align: center;
  color: azure;
}

body{
  background-color: cadetblue;
}

/*
body {
  font-family: Lucida Grande, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background: linear-gradient(to right, yellow, black);
  padding: 20px;
  border-radius: 120px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 300px;
    border-style: dotted;
    
}

h2 {
  text-align: center;
  margin-bottom: 20px;
    font-size: 100px;
}

.input-group {
  margin-bottom: 15px;
    background: brown;
}

.input:hover {
    background: purple;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);   
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: orangered;
  color: white;
  border: 20px;
  border-radius: 4px;
  font-size: 57px;
  cursor: pointer;
}

button:hover {
  background-color: #3017d7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}
.footer{
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: lawngreen;
  color: mediumpurple;
  text-align: center;
}

*/
