div {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#tribute-info{
  font-family: "Rubik Bubbles", system-ui;
  font-weight: 200;
  font-style: normal;
  text-align: center;
  color: #c587a6;
  line-height: 1.5;
}

body{
    background-color: #F3E6EA;
    overflow-x: hidden;
}

#image{
    display: block;   
    margin: 0 auto;
    transform: translateY(-35%) scale(1);
}

#img-div{
    text-align: center;
    display: block;
    margin: auto;
    width: 500px;
    height: 150px;
    overflow: hidden;
}

img[id="link"]{
    display: block;    
    height: 60px;
    width: 200px;       
    margin: auto; 
    object-fit: cover; 
}

#kirby-dance {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

#kirby-left {
    width: 200px;
    height: auto;
    margin-right: 20px;
    border-radius: 10px;
}

#text-right {
    background: #bcd9f3; 
    border-radius: 30px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#kirby-inhale {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

#text-left {
    background: #bcd9f3; 
    border-radius: 30px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-right: 20px;
    flex: 1;
}

#kirby-right {
    width: 200px;
    height: auto;
    flex-shrink: 0;
    border-radius: 10px;
}

#playlist {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

#playlist-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}

#dance-left, #dance-right {
    width: 150px;
    height: auto;
    margin: 0 10px;
    border-radius: 10px;
}

#scratch-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}

#scratch-left, #scratch-right {
    width: 150px;
    height: auto;
    margin: 0 10px;
    border-radius: 10px;
}

footer {
    text-align: center;
}

#link{
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

@keyframes cloudDrift {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(50%);
  }
}

#cloud-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px; 
    overflow: hidden;
    z-index: 1; 
}

.cloud { 
    height: 70px; 
    width: 90%;
    overflow: hidden;
    background: transparent;
    --g: radial-gradient(50% 50%, #000 98%, #0000) no-repeat;
    mask: var(--g) 100% 100%/30% 60%,var(--g) 70% 0/50% 100%,var(--g) 0 100%/36% 68%,var(--g) 27% 18%/26% 40%,linear-gradient(#000 0 0) bottom/67% 58% no-repeat;
    background: linear-gradient(to bottom right, #ffffff, #d0f0fb );
    animation: cloudDrift 30s ease-in-out infinite;
}

.cloud1 {
    top: 0;
    animation-duration: 20s; 
}
.cloud2 {
    top: 0;
    animation-duration: 40s;
    margin-top: -40px;
}

.cloud3 {
    top: 0;
    animation-duration: 80s;
    margin-top: -50px;
}

.cloud4 {
    top: 0;
    animation-duration: 35s; 
    margin-top: -80px;
}
