div {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#tribute-info{
  font-family: "Rubik Bubbles", system-ui;
  font-weight: 200;
  font-style: normal;
  text-align: center;
  color: #c587a6;
  line-height: 1.5;
}

body{
    background-color: #F3E6EA;
}

#image{
    display: block;   
    margin: 0 auto;
    transform: translateY(-35%) scale(1);
}

#img-div{
    text-align: center;
    display: block;
    margin: auto;
    width: 500px;
    height: 150px;
    overflow: hidden;
}

img[id="link"]{
    display: block;    
    height: 60px;
    width: 200px;       
    margin: auto; 
    object-fit: cover; 
}

#kirby-info {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

#kirby-dancing {
    width: 200px;
    height: auto;
    margin-right: 20px;
    border-radius: 10px;
}

#kirby-text {
    background: #bcd9f3; 
    border-radius: 30px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#kirby-inhale {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

#inhale-text {
    background: #bcd9f3; 
    border-radius: 30px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-right: 20px;
    flex: 1;
}

#kirby-inhale-img {
    width: 200px;
    height: auto;
    flex-shrink: 0;
    border-radius: 10px;
}

#playlist {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

#playlist-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}

#kirby-left, #kirby-right {
    width: 150px;
    height: auto;
    margin: 0 10px;
    border-radius: 10px;
}

#scratch-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}

#scratch-left, #scratch-right {
    width: 150px;
    height: auto;
    margin: 0 10px;
    border-radius: 10px;
}

footer {
    text-align: center;
}

#link{
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.cloud{
    display: block;
}